<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641294790382-g77vg9tgjh57jsmjpniio7k1ed51fc8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641294790382-g77vg9tgjh57jsmjpniio7k1ed51fc8l</string>
	<key>API_KEY</key>
	<string>AIzaSyDGR3pwd-5YUbWnVGvIzIMtwgLCytbF6ic</string>
	<key>GCM_SENDER_ID</key>
	<string>641294790382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.iHate</string>
	<key>PROJECT_ID</key>
	<string>ihate-f9f90</string>
	<key>STORAGE_BUCKET</key>
	<string>ihate-f9f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641294790382:ios:5a088a2ab1b1bc44</string>
	<key>DATABASE_URL</key>
	<string>https://ihate-f9f90.firebaseio.com</string>
</dict>
</plist>